{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block top_bar_after_nav %}
    </ul>
    <ul class="nav pull-right">
        <li><a href="/">Home</a></li>
    </ul>
{% endblock %}

{% block logo %}
    <a href="{{ url('sonata_admin_dashboard') }}" class="brand" style="position: relative; padding-left: 35px;">
        {{ admin_pool.title }}
        <i style="position: absolute; left: 0; top: 5px; display: block; width: 30px; height: 30px; background:url('{{ asset(admin_pool.titlelogo) }}') center center no-repeat;"></i>
    </a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ tinymce_init() }}
{% endblock %}

{% block footer %}
    {# disabled default footer
    <div class="pull-right clearfix">
        <span class="label"><a href="http://sonata-project.org" rel="noreferrer" style="text-decoration: none; color: black">Sonata Project</a></span>
    </div>
    #}
{% endblock %}