{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" type="text/css"  href="{{ asset('bundles/zichtframeworkextra/style/theme.css') }}"  />
 {% endblock %}

{% block body_attributes %}
    class="sonata-bc skin-black fixed zicht-cms"
{% endblock %}

{% block sonata_top_nav_menu %}
    <div class="customer_logo">
        LOGO KLANT
    </div>
    {{ parent() }}
{% endblock %}

{% block logo %}
     {# leeg #}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ tinymce_init() }}
{% endblock %}

{% block footer %}
    {# disabled default footer
    <div class="pull-right clearfix">
        <span class="label"><a href="http://sonata-project.org" rel="noreferrer" style="text-decoration: none; color: black">Sonata Project</a></span>
    </div>
    #}
{% endblock %}

{% block side_bar_nav %}
    {{ parent() }}
    {% spaceless %}
        <a class="logo" href="{{ url('sonata_admin_dashboard') }}">
            {% if 'single_image' == admin_pool.getOption('title_mode') or 'both' == admin_pool.getOption('title_mode') %}
                <img src="{{ asset(admin_pool.titlelogo) }}" alt="{{ admin_pool.title }}">
            {% endif %}
            {% if 'single_text' == admin_pool.getOption('title_mode') or 'both' == admin_pool.getOption('title_mode') %}
                <span>{{ admin_pool.title }}</span>
            {% endif %}
        </a>
    {% endspaceless %}
{% endblock %}

{% block side_bar_after_nav %}
    {# leeg #}
{% endblock %}
